* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #e6e6e6;
}

/*
**** Layout ****
*/
#area-cabecalho {
  background-color: #0094f7;
  padding: 15px;
  text-align: center;
}

#area-logo,
#area-menu {
  padding: 10px;
}

#area-principal {
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

#area-postagens {
  width: 660px;
  float: left;
}

#area-lateral {
  width: 240px;
  float: right;
}

.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  border-radius: 20px 20px;
}

.conteudo-lateral {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px 20px;
}

#rodape {
  clear: both;
  padding: 15px;
  background: #ccc;
  text-align: center;
}

/*
**** Formatação do menu ****
*/
a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #0094f7;
}

a:hover {
  text-decoration: underline;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
  color: #fff;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
  color: #0094f7;
  background-color: #fff;
  text-decoration: none;
}

/*
**** Formatação em Geral ****
*/

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

h2 {
  color: #8b8686;
}
h3 {
  color: #565656;
  background: #ccc;
  padding: 5px;
  border-radius: 20px 20px;
}

.icones-microsoft {
  width: 220px;
}

.icones-contato {
  width: 30px;
}
.branco {
  color: white;
}

.data-postagem {
  font-size: 0.8em;
  border-bottom: 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}

.texto-lateral {
  font-size: 0.8em;
  padding: 5px;
}

.container {
  border-radius: 20px 20px;
  width: 510px;
  height: 450px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: -3%;
}

.avatar {
  width: 10rem;
  margin: 3.37rem auto 0;
  position: relative;
}

.avatar > img {
  margin-top: 20%;
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  border-radius: 20px 20px;
}

.user-gitHub {
  text-decoration: none;
  color: #0094f7;
}

ul {
  margin-top: 4rem;
  margin-top: 10%;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

#userName {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
#userBio {
  margin-top: 4%;
}
